<div id="sampleset" class="page-layout my-theme">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items" fxLayout="row" fxLayoutAlign="start">
      <!-- APP TITLE -->
      <span style="font-size: 2rem">Analyis Process</span>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <app-main-chart
    [cnvTools]="cnvTools"
    [height]="300"
    [regionStartBp]="regionStartBp"
    [regionEndBp]="regionEndBp"
    (selectCnvs)="selectCnvs($event)"
  ></app-main-chart>
  <app-overview-chart
    [cnvTools]="cnvTools"
    [height]="300"
    [chr]="1"
    (selectRegionBp)="selectRegionBp($event)"
  ></app-overview-chart>
  <app-selected-cnv [dataSource]="selectedCnvs"></app-selected-cnv>
  <!-- <app-merged-result-table></app-merged-result-table> -->
</div>
<!-- / CONTENT -->
