<div id="analysis-process" class="layout--absolute-1vh">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items">
      <!-- APP TITLE -->
      <span class="h2">Analyis Process</span>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->

  <div class="content__container--default ">
    <div class="content__items" fxLayout="column" fxLayoutGap="32px">
      <div class="brief" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="property-row" fxLayout="row">
          <div class="property property-name">Chromosome:</div>
          <div class="property property-value">{{ chosenChr }}</div>
        </div>
        <div fxLayout="row">
          <div class="property property-name">CNV Type:</div>
          <div class="property property-value">{{ chosenCnvType }}</div>
        </div>
        <div fxLayout="row">
          <div class="property property-name">Sample Name:</div>
          <div class="property property-value">{{ chosenSample }}</div>
        </div>
      </div>

      <h3>Overview Chart</h3>
      <p>Please drag a region of interest.</p>
      <app-overview-chart
        [cnvTools]="cnvTools"
        [containerMargin]="containerMargin"
        [height]="300"
        [chr]="'1'"
        (selectChrRegion)="selectChrRegion($event)"
      ></app-overview-chart>

      <h3>Main Chart</h3>
      <app-main-chart
        [cnvTools]="cnvTools"
        [containerMargin]="containerMargin"
        [height]="300"
        [selectedChrRegion]="selectedChrRegion"
        [inputCnvs]="selectedCnvs"
        (selectCnvs)="selectCnvs($event)"
      ></app-main-chart>

      <h3>Selected Basepair</h3>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-button
          mat-raised-button
          color="primary"
          (click)="exportCnvInfos()"
        >
          Export Result
        </button>
      </div>

      <app-selected-cnv
        [dataSource]="selectedCnvs"
        (updateSelectedCnv)="selectCnvs($event)"
      ></app-selected-cnv>
    </div>
  </div>
  <!-- / CONTENT -->
</div>
