<mat-toolbar mat-dialog-title>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button matDialogClose aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Feature">
      <h3>General Information</h3>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Reference Genome
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ fragment.referenceGenome }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">Chromosome</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ fragment.chromosome }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Start Basepair
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ fragment.startBp }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">End Basepair</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ fragment.endBp }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">CNV Type</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ fragment.cnvType }}
        </div>
      </div>

      <h3>Select Basepair</h3>
      <div class="property-row" fxLayoutAlign=" center" fxLayout="row wrap">
        <div class="property property-value">
          <mat-form-field>
            <input #selectedStartBp matInput placeholder="start basepair" />
          </mat-form-field>
        </div>
        <div class="property property-value">
          <span> to </span>
        </div>
        <div class="property property-value">
          <mat-form-field>
            <input #selectedEndBp matInput placeholder="end basepair" />
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          (click)="selectBasepair(selectedStartBp.value, selectedEndBp.value)"
        >
          Select
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Ensembl">
      <p>Relatived Gene</p>
      <div *ngFor="let ensembl of fragment.ensembls">
        <a href="http://www.ensembl.org/id/{{ ensembl }}" target="_blank">{{
          ensembl
        }}</a>
      </div>
    </mat-tab>
    <mat-tab label="DGV">
      <p>Related DGV</p>
      <div *ngFor="let dgv of fragment.dgvs">
        <a
          *ngIf="fragment.referenceGenome === 'grch37'"
          href="http://dgv.tcag.ca/gb2/gbrowse/dgv2_hg19/?name={{ dgv }}"
          target="_blank"
          >{{ dgv }}
        </a>

        <a
          *ngIf="fragment.referenceGenome === 'grch38'"
          href="http://dgv.tcag.ca/gb2/gbrowse/dgv2_hg38/?name={{ dgv }}"
          target="_blank"
          >{{ dgv }}
        </a>
      </div>
      <span>{{ printedDgv }}</span>
    </mat-tab>
    <mat-tab label="Clinvar">
      <p>Related Clinvar</p>
    </mat-tab>
  </mat-tab-group>
</div>
