<mat-toolbar mat-dialog-title>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button matDialogClose aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Feature">
      <h3>General Information</h3>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Reference Genome
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.referenceGenome }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">Chromosome</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.chromosome }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Start Basepair
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.startBp | number }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">End Basepair</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.endBp | number }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">CNV Type</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.cnvType }}
        </div>
      </div>

      <div *ngIf="isSelectable">
        <div class="property-row" fxLayout="row wrap">
          <div class="property property-name" fxFlex="1 1 30%">
            Overlap Tools
          </div>
          <div class="property property-value" fxFlex="1 1 70%">
            {{ cnvInfo.overlapTools.join(', ') }}
          </div>
        </div>
        <h3>Select Basepair</h3>
        <span
          >Please select number in range {{ cnvInfo.startBp | number }} to
          {{ cnvInfo.endBp | number }}</span
        >
        <form [formGroup]="selectForm" (ngSubmit)="selectBasepair()">
          <div class="property-row" fxLayoutAlign=" center" fxLayout="row wrap">
            <div class="property property-value">
              <mat-form-field>
                <input
                  formControlName="selectedStartBp"
                  matInput
                  placeholder="start basepair"
                  [textMask]="{ mask: numberMark }"
                  unmaskNumeric
                />
              </mat-form-field>
            </div>
            <div class="property property-value">
              <span> to </span>
            </div>
            <div class="property property-value">
              <mat-form-field>
                <input
                  formControlName="selectedEndBp"
                  matInput
                  placeholder="end basepair"
                  [textMask]="{ mask: numberMark }"
                  unmaskNumeric
                />
              </mat-form-field>
            </div>

            <button mat-raised-button color="primary">
              SELECT
            </button>
          </div>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Ensembl">
      <p>Relatived Gene</p>
      <div *ngFor="let ensembl of cnvInfo.ensembls">
        <a
          href="http://www.ensembl.org/id/{{ ensembl.geneId }}"
          target="_blank"
          >{{ ensembl.geneSymbol }}</a
        >
      </div>
    </mat-tab>
    <mat-tab label="DGV">
      <p>Related DGV</p>
      <div *ngFor="let dgv of cnvInfo.dgvs">
        <a
          *ngIf="cnvInfo.referenceGenome === 'grch37'"
          href="http://dgv.tcag.ca/gb2/gbrowse/dgv2_hg19/?name={{ dgv }}"
          target="_blank"
          >{{ dgv }}
        </a>

        <a
          *ngIf="cnvInfo.referenceGenome === 'grch38'"
          href="http://dgv.tcag.ca/gb2/gbrowse/dgv2_hg38/?name={{ dgv }}"
          target="_blank"
          >{{ dgv }}
        </a>
      </div>
    </mat-tab>
    <mat-tab label="Clinvar">
      <p>Related Clinvar</p>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">OMIM</div>
        <div class="property property-value" fxFlex="1 1 70%">
          <div *ngFor="let omimId of cnvInfo.clinvar.omimIds">
            <a
              href="https://omim.org/search/?search={{ omimId }}"
              target="_blank"
              >{{ omimId }}</a
            >
          </div>
        </div>
      </div>

      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">Phenotype</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.clinvar.phenotypes.join('; ') }}
        </div>
      </div>

      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Clinical Significance
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.clinvar.clinicalSignificances.join('; ') }}
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
