table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin table-column($size) {
  word-wrap: break-word !important;
  white-space: unset !important;
  width: $size !important;
  flex: 0 0 $size !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-select {
  @include table-column(10%);
}
.mat-column-fileName {
  @include table-column(25%);
}
.mat-column-fileInfo {
  @include table-column(15%);
}
.mat-column-cnvToolName {
  @include table-column(15%);
}
.mat-column-tagDescriptions {
  @include table-column(20%);
}
.mat-column-createdDate {
  @include table-column(15%);
}
