<div class="page-layout">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items">
      <!-- APP TITLE -->
      <h2>Analysis</h2>
    </div>
  </div>
  <!-- CONTENT -->

  <mat-vertical-stepper #stepper linear="false">
    <mat-step label="Choose Reference Genome">
      <mat-label>Reference Genome: </mat-label>
      <mat-radio-group [(ngModel)]="referenceGenome">
        <mat-radio-button value="grch37" checked>GRCh37/hg19</mat-radio-button>
        <mat-radio-button value="grch38">GRCh38/hg38</mat-radio-button>
      </mat-radio-group>

      <div>
        <button mat-button matStepperNext mat-raised-button color="primary">
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Choose Sample Set">
      <app-choose-sampleset
        (previousStep)="goToPreviousStep()"
        (nextStep)="goToChooseSample($event)"
      ></app-choose-sampleset>
    </mat-step>
    <mat-step label="Choose Sample">
      <app-choose-sample
        [samples]="sampleset.samples"
        (previousStep)="goToPreviousStep()"
        (nextStep)="goToChooseFile($event)"
      ></app-choose-sample>
    </mat-step>
    <mat-step label="Choose Files">
      <app-choose-file
        [samplesetId]="sampleset.samplesetId"
        [referenceGenome]="referenceGenome"
      >
      </app-choose-file>
    </mat-step>
  </mat-vertical-stepper>
</div>
