<mat-toolbar mat-dialog-title>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button matDialogClose aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
  <h3>Selected CNV</h3>
  <div class="property-row" fxLayoutAlign="start" fxLayout="column wrap">
    <div class="property-row" fxLayout="row wrap">
      <div class="property property-name" fxFlex="1 1 30%">
        Start Basepair
      </div>
      <div class="property property-value" fxFlex="1 1 70%">
        {{ cnv.startBp | number }}
      </div>
    </div>
    <div class="property-row" fxLayout="row wrap">
      <div class="property property-name" fxFlex="1 1 30%">End Basepair</div>
      <div class="property property-value" fxFlex="1 1 70%">
        {{ cnv.endBp | number }}
      </div>
    </div>
  </div>

  <h3>New Selected CNV</h3>
  <form #f="ngForm" onsubmit="selectBasepair(f)">
    <div class="property-row" fxLayoutAlign=" center" fxLayout="row nowrap">
      <div class="property property-value">
        <mat-form-field>
          <input
            name="selectedStartBp"
            matInput
            placeholder="start basepair"
            [textMask]="{ mask: numberMark }"
            unmaskNumeric
            ngModel
          />
        </mat-form-field>
      </div>
      <div class="property property-value">
        <span> to </span>
      </div>
      <div class="property property-value">
        <mat-form-field>
          <input
            name="selectedEndBp"
            matInput
            placeholder="end basepair"
            [textMask]="{ mask: numberMark }"
            unmaskNumeric
            ngModel
          />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">
        SELECT
      </button>
    </div>
  </form>
</div>
