<mat-toolbar mat-dialog-title>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button matDialogClose aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Feature">
      <h3>General Information</h3>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Reference Genome
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.referenceGenome | grch }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">Chromosome</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.chromosome }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Start Basepair
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.startBp | number }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">End Basepair</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.endBp | number }}
        </div>
      </div>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">CNV Type</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.cnvType }}
        </div>
      </div>

      <div *ngIf="isSelectable">
        <div class="property-row" fxLayout="row wrap">
          <div class="property property-name" fxFlex="1 1 30%">
            Overlap Tools
          </div>
          <div class="property property-value" fxFlex="1 1 70%">
            {{ cnvInfo.overlaps.join(', ') }}
          </div>
        </div>
        <h3>Select Basepair</h3>
        <span
          >Please select number in range {{ cnvInfo.startBp | number }} to
          {{ cnvInfo.endBp | number }}</span
        >
        <form [formGroup]="selectForm" (ngSubmit)="selectBasepair()">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="property-row" fxLayoutAlign=" center" fxLayout="row">
              <div
                class="property property-value"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-form-field appearance="outline">
                  <mat-label>start basepair</mat-label>
                  <input
                    formControlName="selectedStartBp"
                    matInput
                    placeholder="start basepair"
                    [textMask]="{ mask: numberMark }"
                    unmaskNumeric
                  />
                  <mat-icon matSuffix (click)="copyPasteStartBp()"
                    >file_copy</mat-icon
                  >
                </mat-form-field>
              </div>
              <div class="property property-value">
                <span> to </span>
              </div>
              <div
                class="property property-value"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-form-field appearance="outline">
                  <mat-label>end basepair</mat-label>
                  <input
                    formControlName="selectedEndBp"
                    matInput
                    placeholder="end basepair"
                    [textMask]="{ mask: numberMark }"
                    unmaskNumeric
                  />
                  <mat-icon
                    matSuffix
                    mat-raised-button
                    (click)="copyPasteEndBp()"
                    >file_copy</mat-icon
                  >
                </mat-form-field>
              </div>
            </div>

            <button mat-raised-button color="primary">
              SELECT
            </button>
          </div>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Ensembl">
      <p>Relatived Gene</p>

      <table mat-table [dataSource]="cnvInfo.ensembls">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="geneId">
          <th mat-header-cell *matHeaderCellDef>Gene Id</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip
                color="accent"
                selected
                (click)="ensemblLink(element.geneId)"
              >
                {{ element.geneId }}
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="geneSymbol">
          <th mat-header-cell *matHeaderCellDef>Gene Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.geneSymbol }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="startBp">
          <th mat-header-cell *matHeaderCellDef>Start</th>
          <td mat-cell *matCellDef="let element">
            {{ element.basepair.startBp }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="endBp">
          <th mat-header-cell *matHeaderCellDef>End</th>
          <td mat-cell *matCellDef="let element">
            {{ element.basepair.endBp }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['geneId', 'geneSymbol', 'startBp', 'endBp']"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['geneId', 'geneSymbol', 'startBp', 'endBp']
          "
        ></tr>
      </table>
    </mat-tab>
    <mat-tab label="DGV">
      <p>Related DGV</p>
      <div class="property-row" fxLayout="column">
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          class="grid-color-header"
        >
          <div fxFlex="0 1 30%" class="grid-padding-header property-name">
            DGV
          </div>
          <div fxFlex="0 1 35%" class="grid-padding-header property-name">
            Start
          </div>
          <div fxFlex="0 1 35%" class="grid-padding-header property-name">
            End
          </div>
        </div>
        <div
          *ngFor="let dgv of cnvInfo.dgvs"
          fxLayout="row"
          fxLayoutAlign="start center"
          class="grid-color-data"
        >
          <div fxFlex="0 1 30%" class="grid-padding-data property-value">
            <mat-chip-list>
              <mat-chip
                color="accent"
                selected
                (click)="dgvLink(dgv.variantAccession)"
                target="_blank"
              >
                {{ dgv.variantAccession }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <div fxFlex="0 1 35%" class="grid-padding-data property-value">
            {{ dgv.basepair.startBp | number }}
          </div>
          <div fxFlex="0 1 35%" class="grid-padding-data property-value">
            {{ dgv.basepair.endBp | number }}
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Clinvar">
      <p>Related Clinvar</p>
      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">OMIM</div>
        <div class="property property-value" fxFlex="1 1 70%">
          <mat-chip-list>
            <mat-chip
              *ngFor="let omimId of cnvInfo.clinvar.omimIds"
              (click)="clinvarLink(omimId)"
              color="accent"
              selected
              >{{ omimId }}</mat-chip
            >
          </mat-chip-list>
        </div>
      </div>

      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">Phenotype</div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.clinvar.phenotypes.join('; ') }}
        </div>
      </div>

      <div class="property-row" fxLayout="row wrap">
        <div class="property property-name" fxFlex="1 1 30%">
          Clinical Significance
        </div>
        <div class="property property-value" fxFlex="1 1 70%">
          {{ cnvInfo.clinvar.clinicalSignificances.join('; ') }}
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
