::ng-deep .mat-vertical-stepper-header {
  pointer-events: none !important;
}

.grid-header {
  background-color: #69f0af85;
  border: 0.3px solid #fff;
  padding: 10px 16px;
}

.grid-data {
  background-color: #b9f6ca66;
  border: 0.3px solid #fff;
  padding: 8px 16px;
}

.step__content-item {
  padding: 16px;
}
