<form [formGroup]="headerForm">
  <table
    mat-table
    [dataSource]="dataSource"
    formArrayName="headers"
    class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- No. Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td
        mat-cell
        *matCellDef="let element; let i=index"> {{i + 1}} </td>
    </ng-container>

    <!-- cnvToolName Column -->
    <ng-container matColumnDef="cnvToolName">
      <th mat-header-cell *matHeaderCellDef> CNV Tool </th>
      <td
        mat-cell
        *matCellDef="let element; let i=index"
        [formGroupName]="i">
        <mat-form-field appearance="legacy" floatLabel="never">
          <input
            formControlName="cnvToolName"
            matInput
            placeholder="CNV Tool Name..."
            [value]="element.cnvToolName">
            <mat-error *ngIf="getFormControl(i, 'cnvToolName').hasError('duplicated')">duplicated</mat-error>
            <mat-error *ngIf="getFormControl(i, 'cnvToolName').hasError('alreadyHave')">Already Have in DB</mat-error>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- SampleName Column -->
    <ng-container matColumnDef="sampleName">
      <th mat-header-cell *matHeaderCellDef> Sample Name </th>
      <td
        mat-cell
        *matCellDef="let element; let i=index"
        [formGroupName]="i">
        <mat-form-field appearance="legacy" floatLabel="never">
          <input
            formControlName="sampleName"
            matInput
            placeholder="Sample name..."
            [value]="element.sampleName">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- chr Column -->
    <ng-container matColumnDef="chr">
      <th mat-header-cell *matHeaderCellDef> Chromosome </th>
      <td
        mat-cell
        *matCellDef="let element; let i=index"
        [formGroupName]="i">
        <mat-form-field appearance="legacy" floatLabel="never">
          <input
            formControlName="chr"
            matInput
            placeholder="Chromosome..."
            [value]="element.chr">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- startBp Column -->
    <ng-container matColumnDef="startBp">
      <th mat-header-cell *matHeaderCellDef> Start Basepair </th>
      <td
        mat-cell
        *matCellDef="let element; let i=index"
        [formGroupName]="i">
        <mat-form-field appearance="legacy" floatLabel="never">
          <input
            formControlName="startBp"
            matInput
            placeholder="Start Bp..."
            [value]="element.startBp">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- endBp Column -->
    <ng-container matColumnDef="endBp">
      <th mat-header-cell *matHeaderCellDef> Stop Basepair</th>
      <td
        mat-cell
        *matCellDef="let element; let i=index"
        [formGroupName]="i">
        <mat-form-field appearance="legacy" floatLabel="never">
          <input
            formControlName="endBp"
            matInput
            placeholder="Stop Base Pair..."
            [value]="element.endBp">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- cnvType Column -->
    <ng-container matColumnDef="cnvType">
      <th mat-header-cell *matHeaderCellDef> CNV Type </th>
      <td
        mat-cell
        *matCellDef="let element; let i=index"
        [formGroupName]="i">
        <mat-form-field
            appearance="legacy"
            floatLabel="never">
          <input
            formControlName="cnvType"
            matInput
            placeholder="CNV Type..."
            [value]="element.cnvType">
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</form>
<!--
  <button (click)="onDebug()">debug</button>
-->

