<mat-toolbar color="primary">
  <div class="menu_logo">
    <a routerLink="/">
      <div class="menu__logo-box--home">
        <img
          class="logo-box"
          src="../../../assets/static/images/logo-white.png"
          alt="Logo"
          class="menu__logo-img"
        />
      </div>
    </a>
  </div>
  <ul fxFlex fxLayout fxLayoutAlign="flex-end" class="menu__buttons">
    <li><a routerLink="/signup">Signup</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</mat-toolbar>
