<div
  class="top-menu__container"
  fxLayoutAlign="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <a mat-button routerLink="/">
      <img
        src="../../assets/static/images/logo-white.png"
        alt="Logo"
        class="top-menu__logo-img"
      />
    </a>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <a mat-button style="color: white" routerLink="/signup">Signup</a>
    <a mat-button style="color: white" routerLink="/login">Login</a>
  </div>
</div>
