table {
  width: 100%;
}

@mixin table-column($size) {
  word-wrap: break-word !important;
  white-space: unset !important;
  width: $size !important;
  flex: 0 0 $size !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-no {
  @include table-column(5%);
}
.mat-column-chromosome {
  @include table-column(10%);
}
.mat-column-startBp {
  @include table-column(20%);
}
.mat-column-endBp {
  @include table-column(20%);
}
.mat-column-cnvType {
  @include table-column(10%);
}
.mat-column-overlapTools {
  @include table-column(20%);
}
.mat-column-edit {
  @include table-column(5%);
}
.mat-column-delete {
  @include table-column(5%);
}
