.spinner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 300px;
  z-index: 10;
}

.spinner-container mat-spinner {
  height: 360px;
  width: 360px;
}
