<mat-toolbar mat-dialog-title class="mat-accent m-0">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{ dialogTitle }}</span>
    <button mat-icon-button matDialogClose aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="start start">
    <!--Name Column-->
    <mat-form-field>
      <input fxFlex formControlName="name" matInput placeholder="Set Name" />
    </mat-form-field>
    <!--Description Column-->
    <mat-form-field>
      <input
        fxFlex
        formControlName="description"
        matInput
        placeholder="Description"
      />
    </mat-form-field>
    <!--Samples Column-->
    <mat-form-field style="width:400px">
      <mat-chip-list #sampleList>
        <mat-chip
          *ngFor="let sample of form.get('samples').value; let i = index"
          selectable="false"
          [removable]="true"
          (removed)="onRemoveSample(i)"
        >
          {{ sample }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Sample Name"
          [matChipInputFor]="sampleList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          matChipInputAddOnBlur="true"
          (matChipInputTokenEnd)="onAddSample($event)"
        />
      </mat-chip-list>
    </mat-form-field>
  </form>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-button
      (click)="onSave()"
      [disabled]="
        form.get('name').invalid || form.get('samples').value.length === 0
      "
      aria-label="SAVE"
    >
      SAVE
    </button>
  </div>
</div>
