@import './../../../../styles/scss/theme';
@import './../../../../styles/scss/abstracts/variables';
:host {
  background-color: $color-primary;
  color: mat-color($background, text);
  flex: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-container-height;
  @include mat-elevation(3);
}

.delete {
  background-color: mat-color($warn);
}

.use {
  background-color: mat-color($accent);
}
