<div class="page-layout">
  <h1>Choose CNV Results</h1>

  <mat-vertical-stepper linear="false" #stepper>
    <mat-step label="Choose Sample Set">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field class="filter-sample-set">
          <mat-select
            placeholder="Choose Sample Set"
            [formControl]="chosenSampleset"
          >
            <mat-option
              *ngFor="let sampleset of this.samplesets"
              [value]="sampleset.sampletsetId"
            >
              {{ sampleset.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          class="next-button"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Choose CNV Tools">
      <file-list></file-list>
      <div fxLayoutAlign="start center">
        <button mat-button matStepperPrevious class="next-button">Back</button>
        <button mat-raised-button color="primary" matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step lable="Done">
      <button mat-button matStepperPrevious class="next-button">Back</button>
    </mat-step>
  </mat-vertical-stepper>
</div>
