<div id="version" class="layout--absolute-1vh">
  <!-- HEADER -->
  <app-header [title]="'Version'"> </app-header>

  <!-- CONTENT -->
  <div class="layout__content-container--scrollbar ">
    <div class="layout__content-items">
      <h2>Software version</h2>
      <h2>Datasource version</h2>

      <div>
        <!-- Ensembl GRCh37-->
        <div class="property-row" fxLayout="row wrap">
          <div class="property property-name" fxFlex="1 1 30%">
            Ensembl
          </div>
          <div class="property property-value" fxFlex="1 1 70%">
            {{ chosenReferenceGenome | grch }}
          </div>
        </div>

        <!-- DGV -->
        <div class="property-row" fxLayout="row wrap">
          <div class="property property-name" fxFlex="1 1 30%">
            Sample Set
          </div>
          <div class="property property-value" fxFlex="1 1 70%">
            {{ chosenSampleset.samplesetName }}
          </div>
        </div>

        <!-- ClinVar -->
        <div class="property-row" fxLayout="row wrap">
          <div class="property property-name" fxFlex="1 1 30%">
            Sample
          </div>
          <div class="property property-value" fxFlex="1 1 70%">
            {{ chosenSample }}
          </div>
        </div>

        <!-- Reference Genome GRCh37 -->
        <div class="property-row" fxLayout="row wrap">
          <div class="property property-name" fxFlex="1 1 30%">
            Chromosome
          </div>
          <div class="property property-value" fxFlex="1 1 70%">
            {{ chosenChr | uppercase }}
          </div>
        </div>

        <!-- Reference Genome GRCh38 -->
        <div class="property-row" fxLayout="row wrap">
          <div class="property property-name" fxFlex="1 1 30%">
            CNV Type
          </div>
          <div class="property property-value" fxFlex="1 1 70%">
            {{ chosenCnvType | titlecase }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
