@import '../../../styles/scss/theme';
:host {
  background-color: mat-color($primary, lighter);
  color: mat-color($background, text);
  flex: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  z-index: 99;
}
