<div id="layout" class="my-theme">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items" fxLayout="row" fxLayoutAlign="start">
      <!-- APP TITLE -->
      <span style="font-size: 2rem">Layout</span>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <mat-form-field>
        <input matInput placeholder="Search samplesets" #searchInput />
      </mat-form-field>
      <!-- / SEARCH -->

      <!-- FILTER -->
      <mat-form-field>
        <input matInput placeholder="Filter" #filterInput />
      </mat-form-field>
      <!-- / FILTER -->
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content__container">
    <div class="content">
      <span style="position: absolute; bottom: 0px;">Bottom Line</span>
    </div>
  </div>
  <!-- / CONTENT -->
</div>
