<div
  class="top-menu__container"
  fxLayoutAlign="row"
  fxLayoutAlign="space-between center"
>
  <div class="left">
    <button mat-icon-button (click)="onToggleNavigation()">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
  </div>
  <div
    class="right top-menu__buttons"
    fxFlex
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <div class="top-menu_logo">
      <a routerLink="/">
        <img
          class="logo-box"
          src="../../assets/static/images/logo-white.png"
          alt="Logo"
          class="top-menu__logo-img"
        />
      </a>
    </div>
    <ul fxLayout fxLayoutGap="10px">
      <li><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</div>
