<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleNavigation()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" class="menu__buttons">
    <div class="menu_logo">
      <a routerLink="/">
        <img
          class="logo-box"
          src="../../assets/static/images/logo-white.png"
          alt="Logo"
          class="menu__logo-img"
        />
      </a>
    </div>
    <ul fxLayout fxLayoutGap="10px">
      <li><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
