<ng-container *ngIf="!dataSource; else elseTemplate">
  <div class="warning__container--not-show-data mat-elevation-z8">
    <div class="warning__item--not-show-data">
      Please select CNV results.
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <!-- No. Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let i = dataIndex">{{ i + 1 }}</td>
      </ng-container>

      <!-- Chromosome Column -->
      <ng-container matColumnDef="chromosome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Chromosome
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.chromosome }}
        </td>
      </ng-container>

      <!-- Start Basepair Column -->
      <ng-container matColumnDef="startBp">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header-right"
        >
          Start Basepair
        </th>
        <td mat-cell class="data-right" *matCellDef="let row">
          {{ row.startBp | number }}
        </td>
      </ng-container>

      <!-- End Basepair Column -->
      <ng-container matColumnDef="endBp">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="header-right"
        >
          End Basepair
        </th>
        <td mat-cell class="data-right" *matCellDef="let row">
          {{ row.endBp | number }}
        </td>
      </ng-container>

      <!-- CNV Type Column -->
      <ng-container matColumnDef="cnvType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CNV Type</th>
        <td mat-cell *matCellDef="let row">{{ row.cnvType }}</td>
      </ng-container>

      <!-- CNV Type Column -->
      <ng-container matColumnDef="overlaps">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CNV Tools</th>
        <td mat-cell *matCellDef="let row">
          {{ row.overlaps.join(', ') }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let row; let i = dataIndex">
          <button mat-icon-button (click)="editRow(row, i)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let i = dataIndex">
          <button mat-icon-button (click)="deleteRow(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- expandedEnsembl column (colspan = all columns) -->
      <ng-container matColumnDef="expandedEnsembls">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="expand-row-wrapper"
            fxLayout="column"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="expand-row">
              <div class="expand-detail--header">
                Ensembl:
              </div>
              <mat-chip-list>
                <mat-chip
                  *ngFor="let ensembl of row.ensembls"
                  color="accent"
                  selected
                >
                  {{ ensembl.geneSymbol }}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- expandedDGV column (colspan = all columns) -->
      <ng-container matColumnDef="expandedDgvs">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="expand-row-wrapper"
            fxLayout="column"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="expand-row">
              <div class="expand-detail--header">
                DGV:
              </div>
              <mat-chip-list>
                <mat-chip *ngFor="let dgv of row.dgvs" color="accent" selected>
                  {{ dgv }}
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- expandedClinvar column (colspan = all columns) -->
      <ng-container matColumnDef="expandedClinvars">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="expand-row-wrapper"
            fxLayout="column"
            [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div class="expand-row">
              <div class="expand-detail--header">
                ClinVar:
              </div>
              <div class="expand-detail--data">
                <mat-list>
                  <mat-list-item>
                    <div>OMIM</div>
                    <div>
                      <mat-chip-list>
                        <mat-chip
                          *ngFor="let omimId of row.clinvar.omimIds"
                          color="accent"
                          selected
                        >
                          {{ omimId }}
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                  </mat-list-item>

                  <mat-divider></mat-divider>

                  <mat-list-item>
                    <div>Phenotype</div>
                    <div>
                      <mat-chip-list>
                        <mat-chip
                          *ngFor="let phenotype of row.clinvar.phenotypes"
                          color="accent"
                          selected
                        >
                          {{ phenotype }}
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                  </mat-list-item>

                  <mat-divider></mat-divider>

                  <mat-list-item>
                    <div>Clinical Significance</div>
                    <div>
                      <mat-chip-list>
                        <mat-chip
                          *ngFor="
                            let clinicalSignificance of row.clinvar
                              .clinicalSignificances
                          "
                          color="accent"
                          selected
                        >
                          {{ clinicalSignificance }}
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="default-row"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedEnsembls']"
        class="expand-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDgvs']"
        class="expand-row"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedClinvars']"
        class="expand-row"
      ></tr>
    </table>
  </div>
</ng-template>
