.reformat-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reformat-item {
  height: 100%;
  width: 70%;
}

/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.header-right .mat-sort-header-container {
  display: flex !important;
  justify-content: flex-end !important;
  text-align: right;
  padding-right: 40px;
}

.data-right {
  text-align: right;
  padding-right: 58px !important;
}

@mixin table-column($size) {
  word-wrap: break-word !important;
  white-space: unset !important;
  width: $size !important;
  flex: 0 0 $size !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-no {
  @include table-column(10%);
}
.mat-column-sampleName {
  @include table-column(20%);
}
.mat-column-chromosome {
  @include table-column(10%);
}
.mat-column-startBasepair {
  @include table-column(25%);
}
.mat-column-endBasepair {
  @include table-column(25%);
}
.mat-column-cnvType {
  @include table-column(10%);
}
