<div fxLayout="column" fxLayoutAlign="start start" class="page-layout">
  <!-- SEARCH -->
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <div>
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input [formControl]="searchInput" placeholder="Search for a contact" />
      </div>
    </div>
  </div>
  <!-- / SEARCH -->

  <upload-list style="width: 100%"></upload-list>

  <!-- ADD CONTACT BUTTON -->
  <button
    mat-fab
    class="accent"
    id="add-contact-button"
    aria-label="add contact"
    (click)="newUpload()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <!-- / ADD CONTACT BUTTON -->
</div>
