<div id="sampleset" class="layout--absolute-1vh">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items">
      <!-- APP TITLE -->
      <span class="h2">Sample Set</span>

      <!-- SEARCH -->
      <div class="search-box" fxLayout="row" fxLayoutAlign="start center">
        <input class="search-input" placeholder="Search..." #filterInput />

        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- SELECTED BAR -->
  <app-selected-bar
    *ngIf="selectedSamplesets.length > 0"
    [selectedData]="selectedSamplesets"
    [selectedBarType]="2"
    (submitEmitter)="onSubmitAllSelected($event)"
    (deselectAllEmitter)="onDelselectedAll()"
    [@slideInTop]
  ></app-selected-bar>
  <!-- / SELECTED BAR -->

  <!-- CONTENT -->
  <div class="content__container--scrollbar ">
    <div class="content__items">
      <app-sampleset-list [samplesets]="samplesets"></app-sampleset-list>
    </div>
  </div>

  <!-- / CONTENT -->

  <!-- ADD SAMPLESET BUTTON -->
  <button
    mat-fab
    class="accent"
    id="add-sampleset-button"
    aria-label="add sampleset"
    (click)="onAddSampleset()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <!-- / ADD SAMPLESET BUTTON -->
  <div></div>
</div>
