<div class="layout--absolute-1vh">
  <!-- HEADER -->
  <div class="layout__header-container">
    <div class="layout__header-items" fxLayout="row" fxLayoutAlign="start">
      <!-- APP TITLE -->
      <span style="font-size: 2rem">Configure CNV Tool Files</span>
      <!-- / APP TITLE -->
    </div>
  </div>

  <mat-horizontal-stepper>
    <mat-step label="Configure Header Fields">
      <app-header-fields></app-header-fields>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext mat-raised-button color="primary">
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Configure Data Fields">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          mat-button
          matStepperNext
          mat-raised-button
          color="primary"
          (click)="onHeaderFieldNext()"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
