<div class="layout--absolute-1vh">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items">
      <!-- APP TITLE -->
      <span class="h2">Tab File Mapping</span>

      <!-- SEARCH -->
      <div class="search-box" fxLayout="row" fxLayoutAlign="start center">
        <input
          class="search-input"
          type="search"
          [formControl]="searchInput"
          placeholder="Search CNV tools..."
        />
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="content__container--scrollbar ">
    <div class="content__items">
      <!---- TAB FILE MAPPING -->
      <app-tab-file-mapping-list></app-tab-file-mapping-list>
    </div>

    <!-- ADD TabFileMapping Tool BUTTON -->
    <button
      mat-fab
      class="accent"
      id="add-tab-file-mapping-button"
      aria-label="add tabFileMapping"
      (click)="onAddTabFileMapping()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <!-- / ADD TabFileMapping Tool BUTTON -->
  </div>
</div>
