<div class="page-layout">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items" fxLayout="row" fxLayoutAlign="start">
      <h2>Tab File Mapping</h2>
      <!-- SEARCH -->
      <div class="search">
        <mat-icon>search</mat-icon>
        <input
          [formControl]="searchInput"
          placeholder="Search for a CNV Tool"
        />
      </div>
    </div>
  </div>

  <!---- TAB FILE MAPPING -->
  <app-tab-file-mapping-list></app-tab-file-mapping-list>

  <!-- ADD TabFileMapping Tool BUTTON -->
  <button
    mat-fab
    class="accent"
    id="add-tab-file-mapping-button"
    aria-label="add tabFileMapping"
    (click)="onAddTabFileMapping()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <!-- / ADD TabFileMapping Tool BUTTON -->
</div>
