<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div class="property-warn">
    Please choose at least 2 sample names.
  </div>
  <div>
    <mat-checkbox
      [(ngModel)]="isCheckedSelectAll"
      (change)="toggleSelectAll($event.checked)"
      >Select all</mat-checkbox
    >
  </div>
  <form [formGroup]="parentForm">
    <div fxLayout="row wrap" fxLayoutAlign=" start" fxLayoutGap="60px">
      <div
        formArrayName="sampleFormArray"
        *ngFor="let sampleForm of sampleFormArray.controls; let i = index"
      >
        <div [formGroupName]="i">
          <mat-form-field appearance="outline" style="width: 250px">
            <mat-label>Sample...</mat-label>
            <app-filtered-select
              formControlName="sample"
              placeholder="Sample..."
              [options]="samples"
              (selectionChange)="onSubmit()"
            >
            </app-filtered-select>
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeSample(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="addNewSample(i)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
