<div id="analysis-process" class="layout--absolute-1vh">
  <!-- HEADER -->
  <div class="layout__header-container">
    <div class="layout__header-items">
      <!-- APP TITLE -->
      <span class="h2">Multiple Sample Analysis</span>
    </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->

  <div class="layout__content-container--default ">
    <div
      class="spinner-container"
      *ngIf="isLoading | async; else loadingSuccess"
    >
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #loadingSuccess>
      <div class="layout__content-items" fxLayout="column" fxLayoutGap="32px">
        <mat-accordion [multi]="true">
          <!-- Overview Configuration-->
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Overview Configuration</mat-panel-title>
            </mat-expansion-panel-header>
            <div
              fxLayout="column"
              fxLayoutAlign="start stretch"
              aria-label="brief multiple configuration"
            >
              <div fxLayout="row" class="indent">
                <div class="property property-name" fxFlex="1 1 20%">
                  Reference Genome:
                </div>
                <div class="property property-value" fxFlex="1 1 80%">
                  {{ multipleConfig.referenceGenome | grch }}
                </div>
              </div>
              <div fxLayout="row" class="indent">
                <div class="property property-name" fxFlex="1 1 20%">
                  Chromosome:
                </div>
                <div class="property property-value" fxFlex="1 1 80%">
                  {{ multipleConfig.chromosome | uppercase }}
                </div>
              </div>
              <div fxLayout="row" class="indent">
                <div class="property property-name" fxFlex="1 1 20%">
                  CNV Type:
                </div>
                <div class="property property-value" fxFlex="1 1 80%">
                  {{ multipleConfig.cnvType | titlecase }}
                </div>
              </div>

              <div fxLayout="row" class="indent">
                <div class="property property-name" fxFlex="1 1 20%">
                  Sample Names:
                </div>
                <div class="property property-value" fxflex="1 1 80%">
                  {{ multipleConfig.samples.join(', ') }}
                </div>
              </div>

              <!-- Choose File -->
              <div fxLayout="row wrap" class="indent">
                <div class="property property-name" fxFlex="1 1 20%">
                  Upload CNV Result:
                </div>
                <div
                  class="property property-value"
                  fxFlex="1 1 80%"
                  fxLayout="column"
                >
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    class="grid-color-header"
                  >
                    <div fxFlex="0 1 35%" class="grid-padding-header">
                      File Name
                    </div>
                    <div fxFlex="0 1 40%" class="grid-padding-header">
                      File Info.
                    </div>
                    <div fxFlex="0 1 25%" class="grid-padding-header">
                      CNV Tool
                    </div>
                  </div>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    class="grid-color-data"
                  >
                    <div fxFlex="0 1 35%" class="grid-padding-data">
                      {{ multipleConfig.uploadCnvToolResult.fileName }}
                    </div>
                    <div fxFlex="0 1 40%" class="grid-padding-data">
                      {{ multipleConfig.uploadCnvToolResult.fileInfo }}
                    </div>
                    <div fxFlex="0 1 25%" class="grid-padding-data">
                      {{ multipleConfig.uploadCnvToolResult.cnvToolName }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Overview Chart -->
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Overview Chart</mat-panel-title>
            </mat-expansion-panel-header>
            <app-overview-chart
              [yAxisMaxVaule]="cnvSamples.length"
              [mergedData]="mergedTool"
              [containerMargin]="containerMargin"
              [chromosome]="multipleConfig.chromosome"
              [yAxisUnit]="'samples'"
              (selectChrRegion)="selectChrRegion($event)"
            ></app-overview-chart>
          </mat-expansion-panel>
          <!-- All Merged CNVs -->
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>All Merged CNVs</mat-panel-title>
            </mat-expansion-panel-header>
            <app-merged-table
              [analysisType]="'multipleSamples'"
              [cnvInfos]="mergedTool.cnvInfos"
            ></app-merged-table>
          </mat-expansion-panel>
          <!-- Main Chart -->
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Main Chart</mat-panel-title>
            </mat-expansion-panel-header>
            <app-main-chart
              [chromosome]="multipleConfig.chromosome"
              [dgvVaraints]="dgvVariants"
              [comparedData]="cnvSamples"
              [mergedData]="mergedTool"
              [containerMargin]="containerMargin"
              [selectedChrRegion]="selectedChrRegion"
            >
            </app-main-chart>
          </mat-expansion-panel>
          <!-- Selected CNVs -->
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>All Selected CNVs</mat-panel-title>
            </mat-expansion-panel-header>
            <app-selected-cnv
              [analysisType]="'multipleSamples'"
            ></app-selected-cnv>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </div>
</div>
