body {
  color: #212121;
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.heading-primary {
  // font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.6rem !important;

  color: #fff !important;
  backface-visibility: hidden !important;
  margin-bottom: 6rem !important;

  &--main {
    display: block !important;

    font-size: 6rem !important;
    font-weight: 500 !important;
    letter-spacing: 2rem !important;
    line-height: 10rem !important;
    text-shadow: 2px 2px 6px rgba(10, 10, 10, 0.8) !important;

    animation-name: moveToLeft !important;
    animation-duration: 1s !important;
    animation-timing-function: ease-out !important;
  }

  &--sub {
    display: block !important;
    text-transform: uppercase !important;

    font-weight: 500 !important;
    font-size: 1.6rem !important;
    line-height: 4rem !important;
    letter-spacing: 1.6rem !important;
    text-shadow: 2px 2px 6px rgba(30, 30, 30, 0.801);

    animation-name: moveToRight !important;
    animation-duration: 1s !important;
    animation-timing-function: ease-out !important;
  }
}
.indent {
  padding-left: 24px !important;
}
.property {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
.property-row {
  width: 100%;
}
.property-name {
  font: 700 13px Arial;
  color: #999;
}
.property-value {
  font: 13px Arial;
  color: #666;
  word-wrap: break-word;
}
.property-warn {
  font: 13px Arial;
  color: #980000;
  word-wrap: break-word;
}

.form-field-width {
  width: 400px;
}
