<div class="page-layout">
  <!-- HEADER -->
  <div class="header__container">
    <div class="header__items">
      <!-- APP TITLE -->
      <h2>Configure Files</h2>
    </div>
  </div>

  <!-- CONTENT -->
  <div>
    <mat-horizontal-stepper #stepper linear="false">
      <mat-step label="Upload File">
        <app-upload-form
          fxLayout="column"
          fxLayoutAlign="space-between center"
          (confirmClicked)="goToReformatStep($event)"
        ></app-upload-form>
      </mat-step>
      <mat-step label="Reformat File">
        <app-preview-reformat-cnv-tool-result
          *ngIf="uploadCnvToolResultId"
          [uploadCnvToolResultId]="uploadCnvToolResultId"
          (previousStep)="goToUploadStep()"
          (nextStep)="goToSuccessStep()"
        ></app-preview-reformat-cnv-tool-result>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="uploadAgain()"
          >
            Upload again
          </button>
          <button mat-button>Go to analysis</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
